
.navbar{
    background-color:transparent!important;
    display:flex;
    position:relative;
    align-items: center;
    padding: .5rem 1rem;
}
.main-header{
    background-image: url(/images/main-bg.svg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
#signup{
    color: #6a75ff;
    border-radius: 50px;
    background-color: #fff;
}

#login{
    color: #fff;
}
.brand{
    border-bottom: 2px solid #fff;
    animation-duration: 13s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

.header-context {
    width: 80%;
    max-width: 350px;
}
.main-header a{
    color: #fff;
}
.btn-accent{
    background-color: #3e468f;
}
.btn-rounded{
    border-radius: 50px;
}
.feature-card .splash {
    color: #3e468f;
}